#home {
  transition: 0.5s;

  .container {
    max-width: 1000px !important;
  }

  &.menu_show {
    margin-left: 350px;
  }

  .is-flex {
    justify-content: space-between;
  }

  .right-side {
    justify-content: flex-end;

    & * {
      margin-left: 20px;
    }
  }

  .center {
    margin-top: 20%;

    & * {
      margin-bottom: 20px;
    }
  }
}
