@import "bulma/bulma";
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "toastr/toastr";
@import "shared/*";
@import "controllers/*";

body,
html {
  height: 100%;
}

.black-background {
  color: white;
  font-feature-settings: "liga" 0;
  line-height: 1.7;
  background: #1f1f1f;
  padding: 0px;
  background-repeat: repeat-y;
  height: auto;
  min-height: 100%;
}

p {
  color: white !important;
}

a {
  color: white;

  &:visited {
    color: white;
  }
}

label {
  color: white !important;
}

input {
  background: transparent !important;
  color: white;

  &:active {
    border-color: #FFF !important;
  }

  &:focus {
    border-color: #FFF !important;
  }
}

#app {
  transition: 0.5s;

  &.menu_show {
    margin-left: 350px;
  }
}

.is-danger {
  background-color: #de4c4a !important;
}

.modal-content {
  background-color: #282828 !important;
  padding: 30px;
  border-radius: 5px;
}

.container {
  max-width: 1000px !important;
}

